.nav-container {
    margin-bottom: 20px; 
  }
  
  .container {
    text-align: center;
    margin-top: 20px;
  }
  
  .button-container {
    margin-bottom: 20px; 
  }
  
  .button-container button {
    background-color: #007bff; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;  
  }
  
  .button-container button:hover {
    background-color: #0056b3; 
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-container input {
    width: 66.67%;
    display: block;
    padding: 8px;
    margin: 0 auto;
    box-sizing: border-box;
  } 
  
  table {
    width: 66.67%; 
    margin: 0 auto; 
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center; 
  }
  
  .icon-cell {
    text-align: center; 
  }