<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <div class="tab-container">
  <nav>
    <ul>
      <li (click)="selectTab('employees')">Сотрудники</li>
      <li (click)="selectTab('techniques')">Техника</li>
      <li (click)="selectTab('technique_types')">Типы техники</li>
      <li (click)="selectTab('employee_equipment')">Техника сотрудников</li>
      <li (click)="selectTab('inventory')">Инвентаризация</li>
    </ul>
  </nav>

  <div [ngSwitch]="selectedTab">
    <app-employees *ngSwitchCase="'employees'"></app-employees>
    <app-techniques *ngSwitchCase="'techniques'"></app-techniques>
    <app-technique-types *ngSwitchCase="'technique_types'"></app-technique-types>
    <app-employee-equipment *ngSwitchCase="'employee_equipment'"></app-employee-equipment>
    <app-inventory *ngSwitchCase="'inventory'"></app-inventory>
  </div>
</div> -->
<nav>
  <a routerLink="/employees">Сотрудники</a>
  <a routerLink="/employee-equipment">Техника сотрудников</a>
  <a routerLink="/techniques">Техника</a>
  <a routerLink="/technique-types">Типы техники</a>
  <a routerLink="/inventory">Инвентаризация</a>
</nav>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



