<!-- <div class="container">
  <input type="text" placeholder="Поиск..." (keyup.enter)="onSearch($event)">
  <button (click)="addEmployee(employees)">Добавить Сотрудника</button> -->

  <!-- модального окна -->
<!-- <div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <h2>Добавить сотрудника</h2> -->
    <!-- Форма для добавления сотрудника -->
    <!-- <form (submit)="submitEmployee()">
      <label>ФИО:</label>
      <input [(ngModel)]="newEmployee.name">
      <label>Кабинет:</label>
      <input [(ngModel)]="newEmployee.office">
      <button type="submit">Сохранить</button>
      <button (click)="closeModal()">Отмена</button>
    </form>
  </div>
</div> -->

  <!-- <table>
    <thead>
      <tr>
        <th>Таб №</th>
        <th>ФИО</th>
        <th>Кабинет</th>
        <th>🗑️</th>
        <th>✏️</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.office }}</td>
        <td><button (click)="deleteEmployee(employees)">🗑️</button></td>
        <td><button (click)="editEmployee(employees)">✏️</button></td>
      </tr>
    </tbody>
  </table>

 
  <div class="pagination-container">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Страница {{ currentPage }}</span>
    <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= totalItems">Next</button>
  </div>
</div> -->