<!-- <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Сотрудники</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>Кабинет</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employee | async">
            <td>{{employee.id}}</td>
            <td>{{employee.Name}}</td>
            <td>{{employee.Office}}</td>
            <td>
              <button (click)="updateEmployee(employee.id)" 
              class="btn btn-warning" 
              style="margin-left: 10px">Update</button>
              <button (click)="deleteEmployee(employee.id)" 
              class="btn btn-danger" 
              style="margin-left: 10px">Delete</button>
                <button (click)="EmployeeDetails(employee.id)" 
                class="btn btn-info" 
                style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->